<%- include('partials/header') %>

<div class="text-light" style="height: 95vh; background-color: #212121">
    <div class="container">
        <section class="py-5 text-center container">
            <div class="row py-5">
                <div class="col-md-8 col-lg-6 mx-auto">
                    <h1>App</h1>
                    <p class="lead text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam maxime voluptatum dolore libero beatae architecto animi labore voluptas laboriosam enim. Magnam voluptate consequatur debitis officia nam ab illum, maiores earum aliquid reiciendis aliquam delectus. Error, quis quibusdam. Iusto at asperiores totam optio expedita facilis ab ullam maiores, deleniti eligendi quas possimus temporibus obcaecati neque magni aut consequuntur, repellendus repudiandae? A aperiam in id voluptates tempora voluptatibus esse deserunt culpa, fugiat ipsam quisquam asperiores, molestiae deleniti?</p>
                    <p>
                        <a href="/auth" class="btn btn-primary my-2">Login with discord</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/footer') %>